{% extends 'base.html' %}
{% block title %}
    News
{% endblock %}


{% block content %}
<div style="margin: 0 auto 0 auto; text-align: center; display: inline;">
    <h1>All articles are gathered from <a href="https://news.ycombinator.com/?p=" style="color: rgb(0, 110, 255); text-decoration: none;">Hacker News</a></h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="search-form">
            <div style="height: 40px;"></div>
            <div>
                <label for="minimum" style="font-size: 30px; ">Filter by points:</label>
                <br>
                <input type="number" class="filter-input" id="minimum" name="minimum" placeholder="Minimum">
                <input type="number" id="maximum" class="filter-input" name="maximum" placeholder="Maximum">
            </div>
            <button type="submit" style="color:white; width: 260px; height: 40px; background: rgb(0, 200, 255); margin-top: 20px; border: 0; border-radius: 30px; font-size: 20px;">Search</button>
            <div style="height: 40px;"></div>
        </div>
    </form>
</div>

{% for i in items %}
<p> {{i}} </p>
{% endfor %}

{% endblock %}